In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn  as sns
from sklearn.model_selection import train_test_split
from sklearn import datasets
import math  
from collections import Counter
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestRegressor

In [2]:
training_file = open(r"D:\College\Year 3 - Term 1\Machine Learning\assignment\pendigits_training (Assignment1-Q2)", 'r')
training_dataset = []
for line in training_file:
        training_dataset.append([int(datapoint) for datapoint in line.split()])

In [3]:
df_train = pd.DataFrame(training_dataset)
df_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,47,100,27,81,57,37,26,0,0,23,56,53,100,90,40,98,8
1,0,89,27,100,42,75,29,45,15,15,37,0,69,2,100,6,2
2,0,57,31,68,72,90,100,100,76,75,50,51,28,25,16,0,1
3,0,100,7,92,5,68,19,45,86,34,100,45,74,23,67,0,4
4,0,67,49,83,100,100,81,80,60,60,40,40,33,20,47,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7489,0,82,9,59,56,34,41,0,10,30,3,67,42,96,100,100,5
7490,49,100,0,70,24,56,100,65,86,85,44,77,21,38,6,0,4
7491,100,98,60,100,24,87,3,58,35,51,58,26,36,0,0,5,5
7492,59,65,91,100,84,96,72,50,51,8,0,0,45,1,100,0,1
7493,0,78,29,100,94,86,70,48,42,11,32,0,25,36,100,40,7

In [4]:
test_file = open(r"D:\College\Year 3 - Term 1\Machine Learning\assignment\pendigits_test (Assignment1-Q2).txt", 'r')
test_dataset = []
for line in test_file:
        test_dataset.append([int(datapoint) for datapoint in line.split()])

In [5]:
df_test = pd.DataFrame(test_dataset)
df_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,88,92,2,99,16,66,94,37,70,0,0,24,42,65,100,100,8
1,80,100,18,98,60,66,100,29,42,0,0,23,42,61,56,98,8
2,0,94,9,57,20,19,7,0,20,36,70,68,100,100,18,92,8
3,95,82,71,100,27,77,77,73,100,80,93,42,56,13,0,0,9
4,68,100,6,88,47,75,87,82,85,56,100,29,75,6,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3493,36,100,24,70,0,38,49,33,95,47,87,55,96,21,100,0,4
3494,16,75,41,100,52,64,32,27,0,0,21,9,62,2,100,14,2
3495,56,100,27,79,0,39,12,0,66,15,100,51,93,93,38,93,0
3496,19,100,0,61,3,23,48,0,97,27,100,66,62,97,10,81,0
3497,38,100,37,81,12,55,0,28,52,27,100,42,86,26,65,0,4

# =============================================================

## Normalizing the dimensions:

In [6]:
# std and mean of the training data:
std  = df_train.std()
mean = df_train.mean()

# The normalizing part:
for i in range (16):
    df_train.iloc[:, i] = (df_train.iloc[:, i] - mean[i])/std[i]
    df_test.iloc[:, i]  = (df_test.iloc[:, i]  - mean[i])/std[i]

In [7]:
# Training dataset after normalizing
df_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.288569,0.909323,-0.495338,-0.096214,0.175270,-1.024367,-0.830241,-1.454678,-1.696241,-0.403100,-0.145901,0.626201,2.004455,1.631347,-0.164060,1.938914,8
1,-1.121910,0.256443,-0.495338,0.871269,-0.254195,0.363642,-0.732457,0.013057,-1.250877,-0.694433,-0.657606,-1.301364,0.632760,-1.017372,1.280616,-0.630123,2
2,-1.121910,-1.642845,-0.342992,-0.758177,0.604735,0.911541,1.581748,1.806956,0.560268,1.490564,-0.307492,0.553462,-1.181417,-0.325093,-0.741931,-0.797669,1
3,-1.121910,0.909323,-1.257068,0.463908,-1.313541,0.107957,-1.058402,0.013057,0.857177,-0.002517,1.039101,0.335247,0.854001,-0.385291,0.486044,-0.797669,4
4,-1.121910,-1.049318,0.342565,0.005626,1.406402,1.276806,0.962454,1.154629,0.085214,0.944315,-0.576810,0.153402,-0.960176,-0.475589,0.004485,-0.797669,1

In [8]:
# Testing dataset after normalizing
df_test.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1.518986,0.434501,-1.447500,0.820349,-0.998600,0.034903,1.386182,-0.247874,0.382123,-1.240682,-1.654084,-0.428505,-0.561942,0.878870,1.280616,1.994762,8
1,1.278905,0.909323,-0.838116,0.769429,0.261163,0.034903,1.581748,-0.508804,-0.449223,-1.240682,-1.654084,-0.464874,-0.561942,0.758473,0.221187,1.938914,8
2,-1.121910,0.553207,-1.180895,-1.318298,-0.884076,-1.681845,-1.449535,-1.454678,-1.102423,0.070316,0.231145,1.171738,2.004455,1.932337,-0.693775,1.771368,8
3,1.729057,-0.159026,1.180468,0.871269,-0.683659,0.436696,0.832076,0.926315,1.272850,1.672647,0.850578,0.226140,0.057533,-0.686282,-1.127178,-0.797669,9
4,0.918782,0.909323,-1.295154,0.260227,-0.111040,0.363642,1.158021,1.219862,0.827487,0.798648,1.039101,-0.246659,0.898249,-0.896976,-1.127178,-0.797669,9

## Splitting the training and testing data:

In [9]:
# Training Dataset
X_train = df_train.iloc[:, :-1].values
y_train  = df_train.iloc[:, -1].values

# Testing Dataset
X_test = df_test.iloc[:, :-1].values
y_test  = df_test.iloc[:, -1].values

## Calculating the euclidean distance:

In [10]:
def euclidian_dis(a, b):    
    dim = len(str(a))
    distance = 0
    
    for i in range(16):
        distance += abs(a[i] - b[i])**2
    dis = math.sqrt(distance)
    
    return dis

In [11]:
# trying the 'euclidian_dis' function:

a = [4, 7, 9, 1, 5, 16, 8, 2, 11, 3, 4, 8, 12, 7, 9, 10]
b = [10, 2, 14, 7, 9, 1, 5, 6, 8, 2, 13, 2, 4, 4, 6, 15]
euclidian_dis(a, b)

24.939927826679853

## gething the distance between a test point and all known data points:

In [12]:
def KNN(X_train, X_test, y_train, y_test, k):
    
    y_hat_test = []  # we will store our output in here

    for test_point in X_test:
        distances = []

        for train_point in X_train:
            dist = euclidian_dis(test_point, train_point)
            distances.append(dist)
        
        # storing distances in a dataframe:
        df_dists = pd.DataFrame(data=distances, columns=['dist'])
        
        # sorting the distances, and only considering the k closest points:
        df_nn = df_dists.sort_values(by=['dist'], axis=0)[:k]

        # creating counter object to track the labels of k closest neighbors
        counter = Counter(y_train[df_nn.index])

        # getting the most common label of all the nearest neighbors
        prediction = counter.most_common()[0][0]
        
        # storing the prediction to the output list
        y_hat_test.append(prediction)
        
    return y_hat_test

## Running the model on our dataset:

In [ ]:
test = KNN(X_train, X_test, y_train, y_test, k=5)
print(test)

In [17]:
len(test)

3498

In [ ]:
test = []
for i in range (1, 10):
    res = KNN(X_train, X_test, y_train, y_test, k=i)
    test.append(res)    
    
print(test)  # an array of the results when K = (1, 2, 3, ..., 9)

## Getting the accuracy score:

In [18]:
print("The accuracy score is: ", accuracy_score(y_test, test))

The accuracy score is:  0.9765580331618068

In [ ]:
for i in range (1, 10):
    print("The accuracy score when K = ", i, " is: ", accuracy_score(y_test, test[i-1]))

# =============================================================

### extra code:

In [ ]:
def get_classes(training_set):
    return list(set([c[-1] for c in training_set]))

def KNN_2(training_set, test_set, k):
    distances = []
    dist = 0
    limit = len(training_set[0]) - 1
    classes = get_classes(training_set)

    try:
        for test_instance in test_set:
            for row in training_set:
                for x, y in zip(row[:limit], test_instance):
                    dist += (x-y) * (x-y)
                distances.append(row + [sqrt(dist)])
                dist = 0

            distances.sort(key=itemgetter(len(distances[0])-1))

            # find k nearest neighbors
            neighbors = find_neighbors(distances, k)
            index, value = find_response(neighbors, classes)

            # Display prediction
            print('The predicted class for sample ' + str(test_instance) + ' is : ' + classes[index])
            print('Number of votes : ' + str(value) + ' out of ' + str(k))

            # empty the distance list
            distances.clear()

    except Exception as e:
        print(e)

In [ ]:
# KNN_2(X_train, X_test, 5)